# ==========================
# Application Configuration
# ==========================
APP_PORT=8080

# ==========================
# Database Configuration
# ==========================
DB_USER=postgres
DB_PASSWORD=secret
DB_HOST=localhost
DB_PORT=5432
DB_NAME=planetarium_test_db